*
{
    margin: 0;
    font-family: 'Pacifico', cursive;
}
body
{
    background-color: rgb(255, 239, 239);
}
.centre
{
    background-color: rgb(194, 172, 83);
    border: 10px rgb(149, 125, 64) double;
    width: 60%;
    margin-left: 20%;
    box-shadow:  0px 0px 50px  15px rgba(0, 0, 0, 0.607);
    color: rgb(196, 195, 190);
    padding: 1% 2%;
}
h1
{
    margin: 13%;
}
.l1
{
    margin: 0% 10%;
    width: 150px;
    height: 150px;
}
.l2
{
    margin: 0% 60%;
    width: 150px;
    height: 150px;
}
.c1
{
    background-color: rgb(174, 0, 0);
    color: rgb(174, 0, 0);
    border: 3px dashed rgb(0, 0, 0);
    transition-duration: .2s;
}
.c2
{
    background: rgb(255, 94, 0);
    color: rgb(255, 94, 0);
    border: 3px dashed rgb(0, 0, 0);
    transition-duration: .2s;
}
.c3
{
    background: rgb(251, 255, 0);
    color: rgb(251, 255, 0);
    border: 3px dashed rgb(0, 0, 0);
    transition-duration: .2s;
}
.c4
{
    background: rgb(37, 187, 0);
    color: rgb(37, 187, 0);
    border: 3px dashed rgb(0, 0, 0);
    transition-duration: .2s;
}
.c5
{
    background: rgb(0, 184, 209);
    color: rgb(0, 184, 209);
    border: 3px dashed rgb(0, 0, 0);
    transition-duration: .2s;
}
.c6
{
    background: rgb(224, 0, 198);
    color: rgb(224, 0, 198);
    border: 3px dashed rgb(0, 0, 0);
    transition-duration: .2s;
}
.c1:hover 
{
    border-radius: 50%;
    background-color: rgb(100, 0, 0);
    color: rgb(255, 255, 255);
}
.c2:hover 
{
    border-radius: 50%;
    background: rgb(167, 61, 0);
    color: rgb(255, 255, 255);
}
.c3:hover 
{
    border-radius: 50%;
    background: rgb(173, 175, 0);
    color: rgb(255, 255, 255);
}
.c4:hover 
{
    border-radius: 50%;
    background: rgb(26, 132, 0);
    color: rgb(255, 255, 255);
}
.c5:hover 
{
    border-radius: 50%;
    background: rgb(0, 115, 130);
    color: rgb(255, 255, 255);
}
.c6:hover 
{
    border-radius: 50%;
    background: rgb(137, 0, 121);
    color: rgb(255, 255, 255);
}
p
{
    margin: 10px 20px;
}